    body {
        margin: 0;
        height: 100%;
        width: 100%;
        background-color: #35A7FF;
    }
    
    #h1Div {
        margin: auto;
        display: flex;
        justify-content: center;
        width: 50%;
    }
    
    h1 {
        font-family: 'Modak', cursive;
        font-size: 7em;
        font-weight: 190;
        cursor: default;
        color: #fff;
    }
    
    #container {
        display: flex;
        flex-direction: column;
    }
    
    #searchDiv {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: row;
        /* height: 6vh; */
        width: 100%;
        margin: auto;
        width: 50%;
    }
    
    #zip {
        width: 30vw;
        height: 4vh;
        resize: none;
        border-style: none;
        outline: none;
        display: flex;
        font-size: 1.4em;
        border-radius: 10px;
        font-family: 'Nanum Gothic', sans-serif;
        align-items: center;
        align-self: center;
    }
    
    #feelings {
        width: 30vw;
        height: 10vh;
        resize: none;
        border-style: none;
        outline: none;
        display: flex;
        font-size: 1em;
        border-radius: 10px;
        margin: auto;
        margin-top: 2vh;
        font-family: 'Nanum Gothic', sans-serif;
        align-items: center;
        align-self: center;
    }
    /* button {
    background-color: transparent;
    font-size: 1.2em;
    width: 6vw;
    height: 4.2vh;
    margin-left: 1vw;
    font-family: 'Nanum Gothic', sans-serif;
    font-weight: bold;
} */
    
    #generate {
        display: inline-block;
        padding: 0.35em 1.2em;
        border: 0.1em solid #FFFFFF;
        margin-left: 1vw;
        border-radius: 0.12em;
        box-sizing: border-box;
        text-decoration: none;
        font-family: 'Roboto', sans-serif;
        font-weight: 300;
        color: #35A7FF;
        background-color: #fff;
        text-align: center;
        transition: all 0.2s;
    }
    
    #generate:hover {
        background-color: #FF3366;
        color: #fff;
        cursor: pointer;
    }
    
    #entryholder {
        color: white;
        font-size: 1.4em;
        font-family: 'Open Sans Condensed', sans-serif;
        margin: auto;
    }